<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!--ora,mss,mysql-->
    <add key="dbtype" value="mss"/>
    <!--mysql，Database可以不指定，在查询之前执行use命令-->
    <!--<add key="dbconn" value="Server=127.0.0.1;Uid=root;Pwd=root;Database=;"/>-->
    <!--<add key="dbconn" value="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = orcl)));User Id=system;Password=orcl"/>-->
    <add key="dbconn" value="Data Source = localhost; Initial Catalog = bb_view_hcdj; User Id = sa; Password = aaaaaa;"/>
    <add key="logerror" value="false"/>
  </appSettings>
</configuration>
