<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--mss|ora|mysql|sqlite-->
    <add key="dbtype" value="sqlite"/>
  </appSettings>
  <connectionStrings>
    <!--mss-->
    <!--<add name="dbconn" connectionString="Data Source=localhost;Initial Catalog=test;User ID=sa;Password=12345678" providerName="System.Data.SqlClient"/>-->
    <!--mysql，Database可以不指定，在查询之前执行use命令-->
    <!--<add name="conn" connectionString="Server=127.0.0.1;Uid=root;Pwd=root;Database=;" providerName="MySql.Data.MySqlClient"/>-->
    <!--ora-->
    <!--<add name="dbconn" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = orcl)));User Id=system;Password=orcl"  providerName="Oracle.ManagedDataAccess.Client"/>-->
    <!--sqlite-->
    <add name="dbconn" connectionString="Data Source=db;Pooling=true;FailIfMissing=true" providerName="System.Data.SQLite"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
